%section.backlog
  %div.section-title
    .section-icon=render 'shareable/svg/backlog_icon'
    %h2.title-text Backlog
  .user-stories-list-container
    .user-stories
      - @project.user_stories.each do |user_story|
        %ul.user-story-list
          %li.user-story
            - if @estimation == 'true'
              %span.points
                = format_story_points(user_story)
            .story-text
              %span.grey-prefix= t('backlog.user_stories.role')
              %span=user_story.role
              %span.grey-prefix= t('backlog.user_stories.action', priority: user_story.priority)
              %span=user_story.action
              %span.grey-prefix= t('backlog.user_stories.result')
              %span=user_story.result
            - if user_story.acceptance_criterions.any?
              %li.acceptance-criterions
                .uppercase-subtitle= t('backlog.acceptance_criterions')
                - user_story.acceptance_criterions.each do |ac|
                  .description
                    = ac.description
            - if user_story.constraints.any?
              %li.constraints
                .uppercase-subtitle= t('backlog.constraints')
                - user_story.constraints.each do |constraint|
                  .description
                    = constraint.description
      - if @estimation == 'true'
        .total_points
          = 'total points: '
          = UserStory.total_points(@project.user_stories)
        .total_cost
          = 'total cost: '
          = total_cost(@project)
        .weeks
          = 'total weeks: '
          = total_weeks(@project)
