.projects-dashboard.row
  - if @projects.count > 0
    = render 'arbor_reloaded/projects/partials/search_bar'
    .projects-list-container
      = render 'arbor_reloaded/projects/partials/projects_list', projects: @projects
  - else
    .no-projects
      %p.title= t('reloaded.project_dashboard.no_projects')
      %p= t('reloaded.project_dashboard.get_started')
      =link_to t('reloaded.project_dashboard.create_button'), '#', class: 'button radius small', data: { reveal_id: 'project-modal' }

#project-modal.reveal-modal{'aria-hidden' => 'true', 'aria-labelledby' => 'project-modal', 'data-reveal' => '', 'data-auto-reveal' => @new_project.errors.present?, :role => 'dialog' }
  = link_to '×', '#', class: 'close-reveal-modal'
  = form_for @new_project, url: '/arbor_reloaded/projects', html: { id: 'new_project' }  do |f|
    %h2= t('reloaded.create_project.title')
    = f.text_field :name, placeholder: t('reloaded.create_project.project_name'), class: 'project-name radius login'
    %ul
      - @new_project.errors.each do |attr, msg|
        %li.errors
          *
          = msg
    .action
      = f.submit t('create_project.save_button'), class: 'button radius tiny'
