- content_for :page_title do
  = t('page_title.dashboard')
.projects-dashboard.row
  - if @projects.count + current_user.teams.map{ |team| team.projects.count }.sum > 0
    = render 'arbor_reloaded/projects/partials/search_bar'
    .small-12.columns
      .projects-list-container
        = render 'arbor_reloaded/projects/partials/projects_list', projects: @projects
  - else
    .small-12.columns
      .no-projects
        %h2= t('reloaded.project_dashboard.no_projects')
        %p= t('reloaded.project_dashboard.get_started')
        = link_to t('reloaded.project_dashboard.create_button'), '#', id: 'create-project-button',
        class: 'button radius small', data: { reveal_id: 'project-modal' }

#project-modal.reveal-modal{aria: { hidden: 'true', labelledby: 'project-modal' }, data: { reveal: '', auto: { reveal: @new_project.errors.present? }}, role: 'dialog' }
  = link_to '×', '#', class: 'close-reveal-modal'
  = form_for @new_project, url: '/arbor_reloaded/projects', html: { id: 'new_project' }  do |f|
    %h2= t('reloaded.create_project.title')
    = f.text_field :name, placeholder: t('reloaded.create_project.project_name'), class: 'project-name radius login'
    %ul
      - @new_project.errors.each do |attr, msg|
        %li.errors
          *
          = msg
    .action
      = f.submit t('reloaded.create_project.save_button'), class: 'button radius tiny', id: 'save-project'
