.members-modal
  = link_to '×', '#', 'aria-label' => 'Close', class: 'close-reveal-modal'
  %h5= t("project_members.title")
  .project-members
    .user-item.special-item.row
      .profile.small-2.columns
        .picture{ style: "background-image: url(#{ image_path('test-user.png') });" }
      .user-data.small-10.columns
        %p.user-name
          %span.reloaded-tag=t ("reloaded.project_members.owner")
          = owner.full_name
        %p.user-mail
          = owner.email
    %ul.show-project-data
      - members.each_with_index do |member, index|
        - if index >= 0 && member.id != owner.id
          %li.user-item.row
            .profile.small-2.columns
              .picture{ style: "background-image: url(#{ image_path('test-user.png') });" }
            .user-data.small-10.columns
              %p.user-name
                = member.full_name
              %p.user-mail
                = member.email
              %input.circles{ id:'remove-member-check', type: 'checkbox', data:{ url: arbor_reloaded_project_remove_member_from_project_path(project, member: member.id)} }
      - unless invites.empty?
        - invites.each do |invite|
          %li.user-item.invited.row
            .profile.small-2.columns
              .avatar-circle A
            .user-data.small-10.columns
              %span.reloaded-tag
                =t ("reloaded.project_members.user_invited")
              %p.user-mail
                = invite.email
  .footer
    = render 'arbor_reloaded/projects/partials/invite_member', project: project
    = link_to t("reloaded.project_members.close"),'#', class: 'button radius small modal-btn', id: 'people-modal-footer-btn'
