= link_to '×', '#', class: 'close-reveal-modal'
%h5= t("project_members.title")
.project-members
  .user-item.special-item
    .picture{ style: "background-image: url(#{ image_path('test-user.png') });" }
    .user-data
      %p.user-name
        %span.user-type-tag= t("reloaded.project_members.owner")
        = owner.full_name
      %p.user-mail
        = owner.email
  %ul.show-project-data
    - members.each_with_index do |member, index|
      - if index >= 0 && member.id != owner.id
        %li.user-item
          .picture{ style: "background-image: url(#{ image_path('test-user.png') });" }
          .user-data
            %p.user-name
              = member.full_name
            %p.user-mail
              = member.email
            %input.circle-checkbox{ id:'remove-member-check', type: 'checkbox', data:{ url: arbor_reloaded_project_remove_member_from_project_path(project, member: member.id)} }
    - unless invites.empty?
      - invites.each do |invite|
        %li.user-item.invited
          .picture.avatar-circle
          .user-data
            %p
              %span.user-type-tag
                = t("reloaded.project_members.user_invited")
            %p.user-mail
              = invite.email
.modal-footer
  = render 'arbor_reloaded/projects/partials/invite_member', project: project
  = link_to t("reloaded.project_members.close"),'#', class: 'button radius small', id: 'people-modal-footer-btn'
