.members-modal
  %a.close-reveal-modal{"aria-label" => "Close"} ×
  %h2.reloaded-title= t("project_members.title")
  .project-members
    .user-item.special-item.row
      .profile.small-2.columns
        .picture{ style: "background-image: url(#{ image_path('test-user.png') });" }
      .user-data.small-10.columns
        - owner = @project.members.find(@project.owner_id)
        %p.user-name
          %span.reloaded-tag=t ("reloaded.project_members.owner")
          = owner.full_name
        %p.user-mail
          = owner.email
    .show-project-data
      - @project.members.each_with_index do |member, index|
        - unless index == 0
          .user-item.row
            .profile.small-2.columns
              .picture{ style: "background-image: url(#{ image_path('test-user.png') });" }
            .user-data.small-10.columns
              %p.user-name
                = member.full_name
              %p.user-mail
                = member.email
      - unless @invites.empty?
        - @invites.each do |invite|
          .user-item.invited.row
            .profile.small-2.columns
              .avatar-circle A
            .user-data.small-10.columns
              %span.reloaded-tag
                =t ("reloaded.project_members.user_invited")
              %p.user-mail
                = invite.email
              %input.circles{ type: "checkbox" }
  .footer
    =render 'arbor_reloaded/projects/partials/invite_member', project: @project
    = link_to t("reloaded.project_members.close"),'#', class: 'button radius small modal-btn', id: 'people-modal-footer-btn'
