.description.hypothesis-edit{ data: { id: hypothesis.id } }
  = link_to                        |
     hypothesis_path(hypothesis),  |
     method: :delete,              |
     class: 'delete-hypothesis',   |
     title: 'Delete Hypothesis' do |
    %span.icon-trash
  = form_for hypothesis do |form|
    .hypothesis-title
      %span.bullet
      = form.text_field :description, class: 'hypothesis-title-field'
    .small-12.columns.hypothesis-type-edit{ data: { id: hypothesis.id } }
    .success-items
      - hypothesis_types.each do |hypothesis_type|
        .radio-btn
          .radio-check
            = form.radio_button :hypothesis_type_id, hypothesis_type.id,
          class: 'hypothesis-type hide'
          = form.label :hypothesis_type_id, hypothesis_type.description,
          value: hypothesis_type.id
    = form.submit :save, class: 'hide'
