= form_for [project, hypothesis] do |form|
  %span.bullet
  = form.text_field :description, placeholder: I18n.translate('labs.hypotheses.enter_description'), class: 'custom',
    required: true, maxlength: 250, class: 'description' + (hypothesis.errors.any? ? '-error' : '')
  .row
    - hypothesis_types.each do |hypothesis_type|
      .large-1.columns
        = form.radio_button :hypothesis_type_id, hypothesis_type.id,
        class: 'hypothesis-type'
        = form.label :hypothesis_type_id, hypothesis_type.description,
        value: hypothesis_type.id
  = form.submit I18n.translate('save'), class: 'hide'
