= form_for [project, hypothesis] do |form|
  -if hypothesis.errors.any?
    .alert-box.alert.hypothesis_errors
      %ul
        - hypothesis.errors.full_messages.each do |error|
          %li= error
  = form.text_field :description, placeholder: I18n.translate('labs.hypotheses.enter_description'),
    required: true, maxlength: 250, class: 'description'
  = form.select(:hypothesis_type_id, hypothesis_types.all.collect { |ht|[ht.description, ht.id] }, {}, { class: 'type' })
  = form.submit I18n.translate('save'), class: 'hide'
