%section#hypotheses
  = link_to I18n.translate('add_hypothesis'), '#new_hypothesis_form'
  - if @project.hypotheses.any?
    .hypotheses-list{ data:{ project_path: project_hypotheses_order_path(@project)} }
      - @project.hypotheses.each do |hypothesis|
        .hypothesis{ data: { id: hypothesis.id, order: hypothesis.order } }
          %span.order= hypothesis.order
          %span.content
            %span.description= hypothesis.description
            %span.type= hypothesis.hypothesis_type_description
  .hypothesis-new
    .hypothesis
      %span.order= @project.hypotheses.length + 1
      .content
        = render 'hypotheses/new', hypothesis: @hypothesis,
        hypothesis_types: @hypothesis_types, project: @project
