-if @project.canvas
  .title-hypotheses-value-proposition
    =@project.canvas.value_proposition
  = form_tag project_canvas_path(@project), method: :post, class: 'hypotheses-value-proposition' do
    = text_field_tag :value_proposition, @project.canvas.value_proposition
    = submit_tag :save, id: 'save-value-proposition-edit'
%section#hypotheses
  = link_to I18n.translate('add_hypothesis'), '#new_hypothesis_form'
  - if @project.hypotheses.any?
    .hypotheses-list{ data:{ project_path: project_hypotheses_order_path(@project)} }
      - @project.hypotheses.each do |hypothesis|
        .hypothesis{ data: { id: hypothesis.id, order: hypothesis.order } }
          %span.order= hypothesis.order
          %span.content
            %span.description= hypothesis.description
            %span.type= hypothesis.hypothesis_type_description
            .delete-hypothesis
              = link_to(                                        |
                 t('labs.hypotheses.delete'),                   |
                 project_hypothesis_path(@project, hypothesis), |
                 method: :delete,                               |
              )                                                 |
            - if hypothesis.user_stories.any?
              .content
                = render 'user_stories/index', user_stories: hypothesis.user_stories, project: @project
            .new-epic
              = render 'user_stories/new', user_story: UserStory.new, project: @project, hypothesis: hypothesis
  .hypothesis-new
    .hypothesis
      %span.order= @project.hypotheses.length + 1
      .content
        = render 'hypotheses/new', hypothesis: @hypothesis,
        hypothesis_types: @hypothesis_types, project: @project
