= link_to I18n.translate('add_hypothesis'), '#new_hypothesis_form'
- if @project.hypotheses.any?
  %table#hypotheses
    %tbody
      - @project.hypotheses.each do |hypothesis|
        %tr
          %td.hypothesis_order= hypothesis.order
          %td.hypothesis_description= hypothesis.description
          %td.hypothesis_type= hypothesis.hypothesis_type_description
%section#new_hypothesis_form
  = render 'hypotheses/new', hypothesis: @hypothesis,
  hypothesis_types: @hypothesis_types, project: @project
