%script{src: "http://code.jquery.com/jquery-1.7.1.min.js"}
%script{src: "//api.trello.com/1/client.js?key=f351a7f0bd7d8b8924b22ef2677f7738"}

- content_for :top_links do
  #top-nav
    = link_to '#', {"aria-controls" => "drop1", "aria-expanded" => "false", id: "export-button", class: "nav-links", "data-dropdown" => "drop1"} do
      = image_tag('icons/export-icon.svg', class: 'icon')
      = t('top_nav.export')
    = link_to log_project_path(@project), {'data-reveal-id' => 'log-modal', 'data-reveal-ajax' => true} do
      = image_tag('icons/export-icon.svg', class: 'icon')
      = t('labs.log')
    %ul#drop1.f-dropdown{"aria-hidden" => "true", "data-dropdown-content" => "", :tabindex => "-1"}
      %li#csv_export_link
        = link_to t('csv'), project_hypotheses_export_path(@project, format: :csv)
      %li#json_export_link
        = link_to t('json'), project_hypotheses_export_path(@project, format: :json)
      %li#trello_export_link
        = link_to t('trello'), '#'
- if @project.canvas
  .value-prop.row
    .title-value-proposition.large-8.columns
      %h2=@project.canvas.value_proposition
    = form_tag project_canvases_path(@project), method: :post, class: 'hypotheses-value-proposition' do
      = text_field_tag :value_proposition, @project.canvas.value_proposition
      = submit_tag :save, id: 'save-value-proposition-edit', class: 'hollow-btn button radius small'
%section#hypotheses
  -if @hypothesis.errors.any?
    .alert-box.alert.radius.hypothesis_errors{ data: { alert: '' } }
      = link_to '×', '#', class: 'close'
      %ul
        - @hypothesis.errors.full_messages.each do |error|
          %li= error
  - if @project.hypotheses.any?
    .hypotheses-list{ data:{ project_path: project_hypotheses_order_path(@project) } }
      - @project.hypotheses.each do |hypothesis|
        = render 'hypotheses/show', hypothesis: hypothesis,
        hypothesis_types: @hypothesis_types, project: @project
  .hypothesis-new
    .hypothesis
      .content.row
        = render 'hypotheses/new', hypothesis: @hypothesis,
        hypothesis_types: @hypothesis_types, project: @project
#log-modal.reveal-modal{"data-reveal" => ""}
