- content_for :top_links do
  #top-nav
    = link_to '#', {"aria-controls" => "drop1", "aria-expanded" => "false", id: "export-button", class: "nav-links", "data-dropdown" => "drop1"} do
      = image_tag('icons/export-icon.svg', class: 'icon')
      = t('labs.hypotheses.export')
    %ul#drop1.f-dropdown{"aria-hidden" => "true", "data-dropdown-content" => "", :tabindex => "-1"}
      %li#csv_export_link
        = link_to t('csv'), project_hypotheses_export_path(@project, format: :csv)
      %li#json_export_link
        = link_to t('json'), project_hypotheses_export_path(@project, format: :json)
      %li#trello_export_link
        = link_to t('trello'), '#'
- if @project.canvas
  .value-prop.large-8.columns
    .title-value-proposition
      %h2=@project.canvas.value_proposition
    = form_tag project_canvases_path(@project), method: :post, class: 'hypotheses-value-proposition' do
      = text_field_tag :value_proposition, @project.canvas.value_proposition
      = submit_tag :save, id: 'save-value-proposition-edit', class: 'hollow-btn button radius small'
  .new-hypothesis-btn.large-4.columns
    = link_to I18n.translate('add_hypothesis'), '#new_hypothesis_form', class: 'secondary-btn button radius small'
%section#hypotheses
  -if @hypothesis.errors.any?
    .alert-box.alert.radius.hypothesis_errors{ data: { alert: '' } }
      = link_to '×', '#', class: 'close'
      %ul
        - @hypothesis.errors.full_messages.each do |error|
          %li= error
  - if @project.hypotheses.any?
    .hypotheses-list{ data:{ project_path: project_hypotheses_order_path(@project) } }
      - @project.hypotheses.each do |hypothesis|
        .hypothesis{ data: { id: hypothesis.id, order: hypothesis.order } }
          %span.order= hypothesis.order
          %span.content
            .row
              %span.description.large-11.columns= hypothesis.description
              .delete-hypothesis.large-1.columns
                = link_to(                      |
                   image_tag('icons/delete-icon.svg', title: 'Delete Hypothesis'), |
                   hypothesis_path(hypothesis), |
                   method: :delete,             |
                   class:'trash-btn'           |
                )                               |
            %span.type= hypothesis.hypothesis_type_description
            .goals
              - if hypothesis.goals.any?
                = render 'goals/index', goals: hypothesis.goals
              .new-goal
                = render 'goals/new', goal: Goal.new, hypothesis: hypothesis
            - if hypothesis.user_stories.any?
              .content
                = render 'user_stories/index', user_stories: hypothesis.user_stories, hypothesis: hypothesis
            .new-epic
              = render 'user_stories/new', user_story: UserStory.new, project: @project, hypothesis: hypothesis
  .hypothesis-new
    .hypothesis
      %span.order= @project.hypotheses.length + 1
      .content
        = render 'hypotheses/new', hypothesis: @hypothesis,
        hypothesis_types: @hypothesis_types, project: @project
