.row
  #copy_stories_modal.copy-stories-modal.reveal-modal.large-4.columns{ aria: { hidden: true, labelledby: 'copy-stories-modal-title' }, data: { reveal: '', role: 'dialog' } }
    %h2#copy-stories-modal-title=t('backlog.user_stories.copy_stories')
    %a.close-reveal-modal{ aria: { label: 'Close' } }×
    .alert-box.error.copy-stories-error
      = t('backlog.user_stories.no_stories')
    .uppercase-subtitle= t('backlog.user_stories.destination_project')
    .destination-select
      = select_tag 'copy_story_project_id', options_from_collection_for_select(projects, 'id', 'name')
    = button_tag t('backlog.user_stories.copy_stories'), class: 'button radius small success',
    id: 'copy_stories_submit', data: { url: user_stories_copy_path }
  = javascript_include_tag 'userStories/copyModal'
