= form_for user_story, html: { class: user_story.new_record? ? 'new-story new_user_story' : 'edit-story edit_user_story' }, url: form_url do |form|
  -if user_story.errors.any?
    .alert-box.alert.user_story_errors
      %ul
        - user_story.errors.full_messages.each do |error|
          %li= error
  %span.square
  %span.icon-edit
  .user-story-input.large-3.column
    = t('backlog.user_stories.role')
    = form.text_field(                                   |
      :role,                                             |
      placeholder: t('backlog.user_stories.enter_role'), |
      required:    true,                                 |
      maxlength:   100,                                  |
      class:      'role'                                 |
    )                                                    |
  .user-story-input.large-5.column
    = t('backlog.user_stories.action_prefix')
    .user-story-priority
      = user_story.priority
    = t('backlog.user_stories.action_suffix')
    = form.text_field(                                     |
      :action,                                             |
      placeholder: t('backlog.user_stories.enter_action'), |
      required:    true,                                   |
      maxlength:   255,                                    |
      class:      'action'                                 |
    )                                                      |
  .user-story-input.large-4.column
    = t('backlog.user_stories.result')
    = form.text_field(                                     |
      :result,                                             |
      placeholder: t('backlog.user_stories.enter_result'), |
      required:    true,                                   |
      maxlength:   255,                                    |
      class:      'result'                                 |
    )                                                      |
  .user-story-input.large-6.column
    = form.label 'Epic'
    = form.check_box :epic
  .user-story-input.large-6.column
    = form.label 'Priority'
    = form.select(:priority, UserStory.priorities)
  - if hypothesis
    = form.hidden_field :hypothesis_id, value: hypothesis.id
  = form.submit I18n.translate('save'), class: 'hide user-story-submit'
