= form_for user_story, html: { class: user_story.new_record? ? 'new-story new_user_story' : 'edit-story edit_user_story' }, url: form_url do |form|
  -if user_story.errors.any?
    .alert-box.alert.user_story_errors
      %ul
        - user_story.errors.full_messages.each do |error|
          %li= error
  .alert-box.error.user-story-component-error{ data: { alert: '' } }
    = link_to '×', '#', class: 'close'
  .row
    %span.story-title= t('backlog.story_span')
    .number
      = "##{user_story.story_number}"
  .row
    .user-story-input.role
      = t('backlog.user_stories.role')
      %span.show-role{ title: t('backlog.user_stories.edit_role') }
      = form.text_field(                                   |
        :role,                                             |
        placeholder: t('backlog.user_stories.enter_role'), |
        required:    true,                                 |
        maxlength:   100,                                  |
        class:       'role',                               |
        'data-autosize-input' => '{ "space": 10 }',        |
      )                                                    |
    .user-story-input.action
      = t('backlog.user_stories.action_prefix')
      .user-story-priority
        %p= user_story.priority
      = t('backlog.user_stories.action_suffix')
      %span.show-action{ title: t('backlog.user_stories.edit_action') }
      = form.text_field(                                     |
        :action,                                             |
        placeholder: t('backlog.user_stories.enter_action'), |
        required:    true,                                   |
        maxlength:   255,                                    |
        class:      'action',                                |
        'data-autosize-input' => '{ "space": 10 }'           |
      )                                                      |
    .user-story-input.result
      = t('backlog.user_stories.result')
      %span.show-result{ title: t('backlog.user_stories.edit_result') }
      = form.text_field(                                     |
        :result,                                             |
        placeholder: t('backlog.user_stories.enter_result'), |
        required:    true,                                   |
        maxlength:   255,                                    |
        class:      'result',                                |
        'data-autosize-input' => '{ "space": 10 }'           |
      )                                                      |
  .row
    .estimation.user-story-input.large-5.columns
      = form.label 'Estimation points'
      = form.select :estimated_points, UserStory.estimation_series
    .priority.user-story-input.large-7.columns.end
      = form.label 'Priority'
      = form.select :priority, UserStory::PRIORITIES
  - if hypothesis
    = form.hidden_field :hypothesis_id, value: hypothesis.id
  = form.submit I18n.translate('save'), class: 'hide user-story-submit'
  .row
    - if user_story.project
      .uppercase-subtitle.criterion-group= t('backlog.tags')
      - user_story.project.tags.each do |tag|
        .user-story-tag
          %label
            = check_box_tag "user_story[tag_ids][]", tag.id, user_story.tags.include?(tag)
            = tag.name
- unless user_story.new_record?
  .tag-form
    = render 'tags/new', user_story: user_story
  .acceptance-criterion-form
    = render 'acceptance_criterions/new', user_story: user_story
    - user_story.acceptance_criterions.each do |acceptance_criterion|
      = render 'acceptance_criterions/edit', user_story: user_story, acceptance_criterion: acceptance_criterion
  .constraint-form
    = render 'constraints/new', user_story: user_story
    - user_story.constraints.each do |constraint|
      = render 'constraints/edit', user_story: user_story, constraint: constraint
