#hypothesis-tr
  %table
    %thead
      %tr
        %th Role
        %th Action
        %th Result
        %th Priority
        %th Estimated Points
        %th
        %th
    - user_stories.each do |user_story|
      %tbody.user-story-list{ data: { hypothesis_id: user_story.hypothesis_id} }
        %tr.user-story
          %td= user_story.role
          %td= user_story.action
          %td= user_story.result
          %td= user_story.priority
          %td= user_story.estimated_points
          %td= link_to t('edit'), edit_user_story_path(user_story)
          %td= link_to(                                |
                t('backlog.user_stories.delete_epic'), |
                user_story_path(user_story),           |
                method: :delete                        |
          )                                            |
