#delete-modal.action-modal.reveal-modal{ aria: { hidden: true, labelledby: 'delete-modal' }, data: { reveal: ''}, role: 'dialog' }
  = link_to '×', '#', class: 'close-reveal-modal'
  %h2= t('project.delete_project')
  %p.hint
    %span.alert= "#{t('common.warning')}:"
    = t('project.delete_hint')
  .action-wrapper
    = link_to t('project.delete_confirmation'), arbor_reloaded_project_path(current_project), method: :delete, class: 'button radius alert'
    = link_to t('project.delete_cancel'), '#', class: 'button radius cancel close-reveal-modal'
