.title-breaker
  %h5= t('reloaded.estimation.separator_title')
  = link_to '', '#', class: 'has-tip toggle-estimation active', data: { tooltip: '' }, aria: { haspopup: true }, title: t('reloaded.tooltips.hide')
  = link_to '', '#', class: 'icn-settings has-tip', data: { reveal_id: 'edit-estimation-modal', tooltip: '' }, aria: { haspopup: true }, title: t('reloaded.tooltips.update_estimation')
.estimation-wrapper
  %ul.small-block-grid-1.large-block-grid-3
    %li
      #estimation-item-points.estimation-item.total-points
        %h4.title= t('reloaded.estimation.total_points')
        .value
          %p.total_points= total_points
        = link_to '', '#', class: 'icn-settings has-tip', data: { reveal_id: 'edit-estimation-modal', tooltip: '' }, aria: { haspopup: true }, title: t('reloaded.tooltips.update_estimation')
    %li
      #estimation-item-cost.estimation-item
        %h4.title= t('reloaded.estimation.total_cost')
        .cost
          %p.total_cost
            = "$#{number_with_delimiter(project.total_cost)}"
        = link_to '', '#', class: 'icn-settings has-tip', data: { reveal_id: 'edit-estimation-modal', tooltip: '' }, aria: { haspopup: true }, title: t('reloaded.tooltips.update_estimation')
    %li
      #estimation-item-weeks.estimation-item
        %h4.title= t('reloaded.estimation.total_weeks')
        .value
          %p.total_weeks
            = project.total_weeks
        = link_to '', '#', class: 'icn-settings has-tip', data: { reveal_id: 'edit-estimation-modal', tooltip: '' }, aria: { haspopup: true }, title: t('reloaded.tooltips.update_estimation')
= render 'arbor_reloaded/user_stories/estimation_modal', project: project
