.title-breaker
  %h5= t('reloaded.estimation.separator_title')
  = link_to '', '#', class: 'has-tip toggle-content-btn active', data: { tooltip: '' }, aria: { haspopup: true }, title: t('reloaded.tooltips.hide')
  = link_to '', '#', class: 'icn-settings has-tip', data: { reveal_id: 'edit-estimation-modal', tooltip: '' }, aria: { haspopup: true }, title: t('reloaded.tooltips.update_estimation')
.estimation-wrapper
  %ul.small-block-grid-1.large-block-grid-3
    %li
      #estimation-item-points.estimation-item.total-points
        = link_to '#', data: { reveal_id: 'edit-estimation-modal' }, aria: { haspopup: true }, title: t('reloaded.tooltips.update_estimation') do
          %h4.title= t('reloaded.estimation.total_points')
          .value
            %p.total_points= total_points
      %li
        #estimation-item-cost.estimation-item
          = link_to '#', data: { reveal_id: 'edit-estimation-modal' }, aria: { haspopup: true }, title: t('reloaded.tooltips.update_estimation') do
            %h4.title= t('reloaded.estimation.total_cost')
            .cost
              %p.total_cost
                = "$#{number_with_delimiter(project.total_cost)}"
    %li
      #estimation-item-weeks.estimation-item
        = link_to '#', data: { reveal_id: 'edit-estimation-modal' }, aria: { haspopup: true }, title: t('reloaded.tooltips.update_estimation') do
          %h4.title= t('reloaded.estimation.total_weeks')
          .value
            %p.total_weeks
              = project.total_weeks
= render 'arbor_reloaded/user_stories/estimation_modal', project: project
