= form_for(user_story, remote: true, url: arbor_reloaded_project_user_stories_path) do |form|
  .backlog-story-input.role
    %span.role-a-an= t('reloaded.backlog.role')
    = form.text_field(                                   |
      :role,                                             |
      placeholder: t('backlog.user_stories.enter_role'), |
      required:    true,                                 |
      maxlength:   100,                                  |
      class:      'role',                                |
      id:         'role-input',                          |
      autofocus:  'true',                                |
    )                                                    |

  .backlog-story-input.action
    %span= t('reloaded.backlog.action')
    = form.text_field(                                     |
      :action,                                             |
      placeholder: t('backlog.user_stories.enter_action'), |
      required:    true,                                   |
      maxlength:   255,                                    |
      class:      'action',                                |
      id:         'action-input',                          |
    )                                                      |

  .backlog-story-input.result
    %span= t('reloaded.backlog.result')
    = form.text_field(                                     |
      :result,                                             |
      placeholder: t('backlog.user_stories.enter_result'), |
      required:    true,                                   |
      maxlength:   255,                                    |
      class:      'result',                                |
      id:         'result-input',                          |
    )                                                      |
  = form.submit t('reloaded.backlog.create'), id: 'save-user-story', class: 'create-btn button radius tiny'
