#story-delete-modal.reveal-modal{ aria: { hidden: true, labelledby: 'project-modal' }, value: project.id,
data: { reveal: '', url: arbor_reloaded_user_stories_destroy_stories_path, projectid: project.id}, role: 'dialog' }
  = link_to '×', '#', class: 'close-reveal-modal'
  %header
    %h2
      = t('reloaded.delete_story_modal.confirm_delete_title_first')
      %br
      = t('reloaded.delete_story_modal.confirm_delete_title_second')
  %ul#stories-list.show-project-data.custom-scroll
  .modal-footer
    = link_to t('reloaded.delete_story_modal.delete_button'), '#', class: 'button radius tiny', id: 'delete_stories_submit'
    = link_to t('reloaded.delete_story_modal.cancel_button'), '#', class: 'button radius tiny secondary close'
    %p.disclaimer= t('reloaded.delete_story_modal.delete_warning_text')
