.new-backlog-story
  #user-story-form-container.user-story-form-container{ data: { new_story_url: new_arbor_reloaded_project_user_story_path(@project) } }
    = render 'arbor_reloaded/user_stories/form', user_story: UserStory.new, project: @project
.estimation.row{class: @project.user_stories.count > 0 ? 'visible' : 'hide'}
  .small-12.columns
    = render 'arbor_reloaded/user_stories/estimation', project: @project, total_points: @total_points
.backlog-story-list.white-blocks-list.row
  .sticky-menu
    = link_to '', '#', class: 'icn-copy has-tip tip-left', data: { reveal_id: 'copy-stories-modal', tooltip: '' }, aria: { haspopup: true }, title: t('reloaded.tooltips.copy_stories')
    = link_to '', '#', class: 'icn-archive has-tip tip-left hidden-element', aria: { haspopup: true }, data: { tooltip: '' }, title: t('reloaded.tooltips.archive_stories')
    = link_to'', '#', class: 'icn-delete story-delete-link has-tip tip-left', data: { reveal_id: 'story-delete-modal', tooltip: '' }, aria: { haspopup: true }, title: t('reloaded.tooltips.delete_stories')
  .user-stories-container
    = render 'arbor_reloaded/user_stories/user_stories_list', project: @project, new_group_top: @new_group_top, new_group_bottom: @new_group_bottom
= render 'arbor_reloaded/user_stories/story_delete_modal', project: @project
= render 'arbor_reloaded/user_stories/copy_stories_modal', projects: @projects.exclude_project(@project)

- if @google_sheets_response.present?
  :javascript
    $(document).ready(function () {
      var $modal = $('#export-to-services-modal').foundation('reveal', 'open');

      $modal.find('.tabs-content section')
        .removeClass('active')
        .prop('aria-hidden', 'true');
      $modal.find('#google').addClass('active').prop('aria-hidden', 'false')
      $modal.find('.tabs .tab-title').removeClass('active');
      $modal.find('.tabs .tab-google').addClass('active');
    });
