= form_for [project, attachment.becomes(Attachment)] do |form|
  - form.object = attachment.becomes(attachment.class)
  %span.bullet
  .links-wrapper.row
    .field.large-7.columns
      = render 'shareable/svg/files_icon'
      = form.text_field :content, placeholder: I18n.translate('attachment.link.enter_url'), class: 'with-icon radius login'
      = form.hidden_field :table_type, value: 'LinkAttachment'
    .save-btn.large-2.columns
      = form.submit I18n.translate('save'), class: 'button small success radius'
    .attachment-selector.large-3.columns
      %span= t('attachment.or')
      = link_to 'Upload File', '#', id: 'attachment-switcher', class: 'button small success radius'
