.attachment-content
  = link_to attachment.content, attachment.content
.attachment-thumbnail
  = image_tag attachment.thumbnail
.attachment-activity
  = t('attachment.added')
  = attachment.created_at.to_formatted_s(:short)
  = t('attachment.by')
  - if attachment.user
    = attachment.user_full_name
  - else
    = t('deleted_user')
