.item-wrapper.row
  .attachment-thumbnail.large-2.columns
    = image_tag attachment.thumbnail
  .link-info.large-10.columns
    .attachment-content
      = link_to attachment.content, attachment.content, target: :blank
    .attachment-activity
      %span= t('attachment.link.name_info')
      .user-name
        - if attachment.user
          = attachment.user_full_name
        - else
          = t('deleted_user')
      = attachment.created_at.to_formatted_s(:short)
      = button_to attachment_path(attachment), method: 'delete', params: {project_id: project.id}, id: 'delete-attachment' do
        %span.icon-trash
