%script{ src: "/assets/jquery.js?body=1" }
%script{ src: "https://api.trello.com/1/client.js?key=#{ENV['TRELLO_DEVELOPER_PUBLIC_KEY']}" }

%nav.secondary-nav
  %ul.left
    %li
      = link_to t('reloaded.navigation.canvas'), arbor_reloaded_project_canvases_path(current_project), class: 'link'
    %li
      = active_link_to t('reloaded.navigation.backlog'), arbor_reloaded_project_user_stories_path(current_project), class: 'link'
    %li
      = active_link_to t('reloaded.navigation.activity'), log_arbor_reloaded_project_path(current_project), class: 'link'
    %li
      = active_link_to t('reloaded.navigation.release_plan'), release_plan_arbor_reloaded_project_path(current_project), class: 'link'
    %li.not-ready
      = link_to t('reloaded.navigation.assets'), arbor_reloaded_project_attachments_path(current_project), class: 'link'
    %li
      = link_to t('reloaded.navigation.more'), '#', aria: { controls: 'project-actions', expanded: false }, data: {dropdown: 'project-actions' }
      %ul#project-actions.f-dropdown{ data: { dropdown: { content: '' } } }
        %li
          = link_to '', data: { reveal_id: 'export-as-pdf-modal' } do
            = t('reloaded.navigation.export_with_estimation')
            %span.icn-export
        - if ENV['ENABLE_SLACK'] == 'true'
          %li
            = react_component('SlackButton', {}, {prerender: false})
        %li.has-dropdown.export-menu-link
          = link_to 'Export as...', '#'
          %ul#export-actions.f-dropdown
            %li
              = link_to '#', data: { reveal_id: 'export-to-services-modal' } do
                = t('reloaded.navigation.export_trello')
                %span.icn-export
            %li
              = link_to '#', data: { reveal_id: 'export-to-services-modal' } do
                = t('reloaded.navigation.export_google_sheets')
                %span.icn-export
        %li
          = link_to '', data: { reveal_id: 'copy-modal' } do
            = t('project.copy_project')
            %span.icn-copy
        - if current_user == current_project.owner
          %li
            = link_to '', data: { reveal_id: 'delete-modal' } do
              = t('project.delete_project')
              %span.icn-delete
  %ul.right.members.members-avatars
    = render 'arbor_reloaded/navigation/right_members', project: current_project
%div
  = react_component('SlackModal',
    { url: arbor_reloaded_project_path(current_project),
      slackConnected: current_project.slack_channel_id ? true : false,
      projectId: current_project.id,
      slackEnabled: current_project.slack_enabled }, { prerender: false })

= render 'arbor_reloaded/user_stories/export_as_pdf_modal', current_project: current_project
= render 'arbor_reloaded/user_stories/copy_modal', current_project: current_project
= render 'arbor_reloaded/user_stories/export_to_services_modal', current_project: current_project,
  google_sheets_response: google_sheets_response
= render 'arbor_reloaded/user_stories/delete_modal', current_project: current_project
