%script{ src: "/assets/jquery.js?body=1" }
%script{ src: "https://api.trello.com/1/client.js?key=#{ENV['TRELLO_DEVELOPER_PUBLIC_KEY']}" }

%nav.secondary-nav
  %ul.left
    %li
      = link_to t('reloaded.navigation.canvas'), arbor_reloaded_project_canvases_path(current_project), class: 'link'
    %li
      = active_link_to t('reloaded.navigation.backlog'), arbor_reloaded_project_user_stories_path(current_project), class: 'link'
    %li
      = active_link_to t('reloaded.navigation.activity'), log_arbor_reloaded_project_path(current_project), class: 'link'
    %li.not-ready
      = link_to t('reloaded.navigation.assets'), arbor_reloaded_project_attachments_path(current_project), class: 'link'
    %li
      = link_to t('reloaded.navigation.more'), '#', aria: { controls: 'project-actions', expanded: false }, data: {dropdown: 'project-actions' }
      %ul#project-actions.f-dropdown{ data: { dropdown: { content: '' } } }
        %li
          = link_to arbor_reloaded_project_export_backlog_path(current_project, format: :pdf, estimation: true), id: 'export-as-pdf-estimation' do
            = t('reloaded.navigation.export_with_estimation')
            %span.icn-export
        %li
          = link_to arbor_reloaded_project_export_backlog_path(current_project, format: :pdf, estimation: false), id: 'export-as-pdf' do
            = t('reloaded.navigation.export_without_estimation')
            %span.icn-export
        %li
          = link_to arbor_reloaded_project_copy_path(current_project), method: :post, class: 'copy-project' do
            = t('project.copy_project')
            %span.icn-copy
        %li
          = link_to '#', data: { reveal_id: 'trello-modal' } do
            = t('reloaded.navigation.export_trello')
            %span.icn-export
        %li
          = link_to '#', data: { reveal_id: 'google-sheets-modal' } do
            = t('reloaded.navigation.export_google_sheets')
            %span.icn-export
        - if ENV['ENABLE_SLACK'] == 'true'
          %li
            = react_component('SlackButton', {}, {prerender: false})
        - if current_user == current_project.owner
          %li
            = link_to arbor_reloaded_project_path(current_project), method: :delete, data: { confirm: t('project.delete_confirmation') } do
              = t('project.delete_project')
              %span.icn-delete
  %ul.right.members.members-avatars
    = render 'arbor_reloaded/navigation/right_members', project: current_project
%div
  = react_component('SlackModal',
    { url: arbor_reloaded_project_path(current_project),
      slackConnected: current_project.slack_channel_id ? true : false,
      projectId: current_project.id,
      slackEnabled: current_project.slack_enabled }, { prerender: false })

= render 'arbor_reloaded/trello/trello_modal', current_project: current_project
= render 'arbor_reloaded/google_sheets/google_sheets_modal', current_project: current_project
