%nav.secondary-nav
  %ul.left
    %li= link_to t('reloaded.navigation.settings'), '#', class: 'link'
    %li= link_to t('reloaded.navigation.profile'), '#', class: 'link'
    %li= link_to t('reloaded.navigation.people'), arbor_reloaded_team_path, class: 'link'
    %li= link_to t('reloaded.navigation.change_password'), '#', class: 'link'
  %ul.right.members
    %li= link_to '-', '#', { class: 'add-member' }
