- if @errors
  #error_explanation
    %ul
      - @errors.each do |message|
        %li= message

= form_for :project, url: Project.new, html: { id: 'new_project' }  do |f|
  %h2= t('create_project.section_title')
  .field
    = f.text_field :name, placeholder: t('create_project.project_name')
  #members
    %label{ for: 'project_members' } Members
    = f.button 'Add more members', id: 'new_member_button', type: :button
    .field
      = f.text_field :name
  %p
    = f.submit
