- if @errors
  #error_explanation
    %ul
      - @errors.each do |message|
        %li= message

= form_for :project, url: projects_path, html: { id: 'new_project' }  do |f|
  %p
    = f.label :name
    %br/
    = f.text_field :name
  #members
    = f.button 'New Member', id: 'new_member_button', type: :button
  %p
    = f.submit
