.projects.row
  .section-margin-top.large-6.large-centered.columns
    %h2= t("project_members.title")
    .show-project-data
      - @project.members.each do |member|
        .user-info
          = image_tag('icons/user-icon.svg', class: 'icon')
          .user-name
            = member.full_name
          .user-mail
            = member.email
      = link_to t("project_members.edit"),'#', id: 'edit_project', class: 'button radius success small'
      - unless @invites.empty?
        .sent-invites
          %label= t("project_members.already_invited")
        - @invites.each do |invite|
          .user-info.email-invited
            = image_tag('icons/mail-icon.svg', class: 'icon')
            = invite.email
      - if @can_delete
        = link_to @project, method: :delete, data: { confirm: t('project.delete_confirmation') }, class: 'delete-project' do
          = t('project.delete_project')
          %span.icon-trash
      = link_to project_copy_path(@project), method: :post, class: 'copy-project', data: {} do
        = t('project.copy_project')
        %span.icon-plus
    .edit-project-form
      = render 'projects/edit', project: @project, errors: @errors
