= @project.name
%h1
  Members
  %table
    %tr
      %th Name
      %th Email
    - @project.members.each do |member|
      %tr
        %td
          = member.full_name
        %td
          = member.email
= link_to 'Edit', edit_project_path(@project)
.sent_invites
  %h3
    - unless @invites.empty?
      Sent Invites
      %table
        %tr
          %th Email
        - @invites.each do |invite|
          %tr
            %td
              = invite.email
- if @can_delete
  = link_to t('project.delete_project'), @project, method: :delete, data: { confirm: t('project.delete_confirmation') }
