.right
  - if current_user == team.owner
    = link_to '#', class: 'others' do
      &#149&#149&#149
.actions
  = link_to '#', class: 'delete-project' do
    %span.icn-delete
  = link_to '#', class: 'copy-project hidden-element' do
    %span.icn-copy
= link_to arbor_reloaded_team_members_path(id: team.id ), { class: 'team-members block-wrapper radius', data: { reveal_id: 'team-members-modal', reveal_ajax: true } } do
  .data
    %p.truncate.title= team.name
    %p.members-amount
      = team.members_string
.deleter
  %span.icn-delete
  %p= t('reloaded.project_dashboard.are_you_sure2')
  %p.truncate.title= team.name
  = link_to t('reloaded.project_dashboard.delete_project'), arbor_reloaded_team_path(team), method: :delete, class: 'button radius alert tiny'
  = link_to t('reloaded.project_dashboard.cancel'), '#', class: 'cancel'
