= link_to '×', '#', class: 'close-reveal-modal'
%h5= @team.name
.team-members-list
  = render 'arbor_reloaded/teams/partials/member_list', team: @team
.modal-footer
  = render 'arbor_reloaded/teams/partials/invite_members', team: @team
  = link_to t("reloaded.project_members.close"), '#', class: 'team-members-button button radius small', id: 'team-members-button'
