= render 'arbor_reloaded/navigation/user_nav'
= render 'arbor_reloaded/users/user_header'
.section-people.row
  .title-breaker
    = link_to '+', '#', class: 'circle-btn'
    %h5= t('reloaded.users.people')
  = render 'arbor_reloaded/teams/index'
  =link_to t('reloaded.project_dashboard.create_button'), '#', class: 'new-team button radius small', data: { reveal_id: 'team-modal' }

  #team-modal.reveal-modal{'aria-hidden' => 'true', 'aria-labelledby' => 'team-modal', 'data-reveal' => '', 'data-auto-reveal' => @new_team.errors.present?, :role => 'dialog' }
    = link_to '×', '#', class: 'close-reveal-modal'
    = form_for @new_team, url: '/arbor_reloaded/teams', html: { id: 'new_team' }  do |f|
      %h2= t('reloaded.create_project.title')
      = f.text_field :name, placeholder: t('reloaded.create_project.project_name'), class: 'team-name radius login'
      %ul
        - @new_team.errors.each do |attr, msg|
          %li.errors
            *
            = msg
      .action
        = f.submit t('create_project.save_button'), class: 'button radius tiny create_team'
