= render 'arbor_reloaded/navigation/user_nav'
= render 'arbor_reloaded/users/user_header'
.section-people.row
  .title-breaker
    %h5= t('reloaded.users.people')
  %h2= t('reloaded.reloaded.people')
  = render 'arbor_reloaded/teams/index'
