= render 'arbor_reloaded/navigation/user_nav'
= render 'arbor_reloaded/users/user_header'
.section-people.row
  .title-breaker
    = link_to '+', '#', class: 'circle-btn'
    %h5= t('reloaded.users.people')
  = render 'arbor_reloaded/teams/index'
