= form_for project, url:  arbor_reloaded_project_path(project), html: { id: 'edit_project' }  do |f|
  = f.text_field :name, class: 'hidden-element'
  %input{ id: "member_#{project.members.count}", |
    class: 'new-member-mail radius', |
    name: "project[member_#{project.members.count}]", |
    type: "email", |
    required: true, |
    placeholder: t('reloaded.project_members.mail_invite')}
  = f.submit id: 'submit-modal-form', class: 'hidden-element'
