.project-list.white-blocks-list
  - if projects.favorite.count > 0
    .title-breaker
      %h5= t('reloaded.project_dashboard.favorite', count: projects.favorite.count)
    %ul.favorites.small-block-grid-1.medium-block-grid-3.large-block-grid-4
      - projects.favorite.each do |project|
        %li.favorite-project.white-block
          .right
            = link_to '#', class: 'favorite-link favorite has-tip', title: t('reloaded.tooltips.favorite_project'), aria: { haspopup: true }, data: { url: arbor_reloaded_project_path(project), favorite: project.favorite, tooltip: '' } do
              %span.icn-favorite
            = link_to '#', class: 'others' do
              &#149&#149&#149
          .actions
            - if current_user == project.owner
              %a.delete-project.has-tip{aria: {haspopup: true}, data: {tooltip: ''}, title: t('reloaded.tooltips.delete_project')}
                %span.icn-delete
            = link_to arbor_reloaded_project_copy_path(project), method: :post, class: 'copy-project has-tip', aria: { haspopup: true }, title: t('reloaded.tooltips.copy_project'), data: { tooltip: '' } do
              %span.icn-copy
            = link_to '#', class: 'favorite-link favorite has-tip', aria: { haspopup: true }, title: t('reloaded.tooltips.favorite_project'), data: { url: arbor_reloaded_project_path(project), favorite: project.favorite,tooltip: '' } do
              %span.icn-favorite-empty
          = link_to arbor_reloaded_project_user_stories_path(project_id: project.id), title: " Go to #{project.name}", class: 'project block-wrapper radius' do
            .left
              %p.truncate.title= project.name
              %p.last-update
                = t('reloaded.project_dashboard.last_update')
                %span= project.updated_at.strftime("%b %d, %Y")
          .deleter
            %span.icn-delete
            %p= t('reloaded.project_dashboard.are_you_sure2')
            %p.truncate.title= project.name
            = link_to t('reloaded.project_dashboard.delete_project'), arbor_reloaded_project_path(project), method: :delete, class: 'button radius alert tiny'
            = link_to t('reloaded.project_dashboard.cancel'), '#', class: 'cancel'
  .title-breaker
    %h5= t('reloaded.project_dashboard.my_projects', count: projects.non_favorite.count)
  %ul.common-projects-list.white-blocks-list
    - projects.no_team.each do |project|
      = render 'arbor_reloaded/projects/partials/project_line_element', project: project
  - current_user.teams.each do |team|
    - if team.projects.count > 0
      .title-breaker
        %h5= team.name
      %ul.team-projects-list.white-blocks-list
        - team.projects.each do |project|
          - if project.members.include? current_user
            = render 'arbor_reloaded/projects/partials/project_line_element', project: project
          - else
            %li.white-block.not-member
              .right
                = link_to t('reloaded.project_dashboard.join_project'), arbor_reloaded_project_add_member_path(project), method: :put, class: 'button radius success tiny join-btn'
              .project.block-wrapper
                .left
                  %p.title= project.name
                  %p.last-update
                    = t('reloaded.project_dashboard.last_update')
                    %span= project.updated_at.strftime("%b %d, %Y")
