%ul.project-list
  %span.breaker
    = t('reloaded.project_dashboard.favorite', count: projects.favorite.count)
  - projects.favorite.each do |project|
    %li.favorite-project
      .right
        %p.favorite
          = link_to '#', class: 'favorite-link', data: { url: arbor_reloaded_project_path(project), favorite: project.favorite } do
            = image_tag('icons/full-star-icon.svg', class: 'icon')
        %a.others &#149&#149&#149
      .actions
        - if current_user.id == project.owner_id
          %a.delete-project
            %span.icon-trash
      .deleter
        %p
          = t('reloaded.project_dashboard.are_you_sure')
          = link_to arbor_reloaded_project_path(project), method: :delete, class: 'cancel-btn' do
            = t('reloaded.project_dashboard.delete_project')
        %a.cancel= t('reloaded.project_dashboard.cancel')
        %span.icon-trash
      = link_to arbor_reloaded_project_canvases_path(project_id: project.id), title: " Go to #{project.name}", class: 'project' do
        .left
          %p.title= project.name
          %p.last-update
            = t('reloaded.project_dashboard.last_update')
            %span= project.updated_at.strftime("%b %d, %Y")
  %span.breaker
    = t('reloaded.project_dashboard.all_projects', count: projects.non_favorite.count)
  - projects.non_favorite.each do |project|
    %li
      .right
        %p.favorite
          = link_to '#', class: 'favorite-link', data: { url: arbor_reloaded_project_path(project), favorite: project.favorite } do
            = image_tag('icons/star-icon.svg', class: 'icon')
        %a.others &#149&#149&#149
      .actions
        - if current_user.id == project.owner_id
          %a.delete-project
            %span.icon-trash
      .deleter
        %p
          = t('reloaded.project_dashboard.are_you_sure')
          = link_to arbor_reloaded_project_path(project), method: :delete, class: 'cancel-btn' do
            = t('reloaded.project_dashboard.delete_project')
        %a.cancel= t('reloaded.project_dashboard.cancel')
        %span.icon-trash
      = link_to arbor_reloaded_project_canvases_path(project_id: project.id), title: " Go to #{project.name}", class: 'project' do
        .left
          %p.title= project.name
          %p.last-update
            = t('reloaded.project_dashboard.last_update')
            %span= project.updated_at.strftime("%b %d, %Y")
