.project-list
  - if projects.favorite.count > 0
    .title-breaker
      %h5= t('reloaded.project_dashboard.favorite', count: projects.favorite.count)
    %ul.favorites.small-block-grid-1.medium-block-grid-3.large-block-grid-4
      - projects.favorite.each do |project|
        %li.favorite-project
          .right
            = link_to '#', class: 'favorite-link favorite', data: { url: arbor_reloaded_project_path(project), favorite: project.favorite } do
              %span.icn-favorite
            %a.others &#149&#149&#149
          .actions
            - if current_user.id == project.owner_id
              %a.delete-project
                %span.icn-delete
            = link_to arbor_reloaded_project_copy_path(project), method: :post, class: 'copy-project', data: {} do
              %span.icn-copy
            = link_to '#', class: 'favorite-link favorite', data: { url: arbor_reloaded_project_path(project), favorite: project.favorite } do
              %span.icn-favorite-empty
          .deleter
            %span.icn-delete
            %p= t('reloaded.project_dashboard.are_you_sure2')
            %p.truncate.title= project.name
            = link_to t('reloaded.project_dashboard.delete_project'), arbor_reloaded_project_path(project), method: :delete, class: 'button radius alert tiny'
            = link_to t('reloaded.project_dashboard.cancel'), '#', class: 'cancel'
          = link_to arbor_reloaded_project_user_stories_path(project_id: project.id), title: " Go to #{project.name}", class: 'project' do
            .left
              %p.truncate.title= project.name
              %p.last-update
                = t('reloaded.project_dashboard.last_update')
                %span= project.updated_at.strftime("%b %d, %Y")
  .title-breaker
    %h5= t('reloaded.project_dashboard.all_projects', count: projects.non_favorite.count)
  %ul.common-projects-list
    - projects.each do |project|
      %li
        .right
          = link_to '#', class: 'favorite-link favorite', data: { url: arbor_reloaded_project_path(project), favorite: project.favorite } do
            %span.icn-favorite-empty
          %a.others &#149&#149&#149
        .actions
          - if current_user.id == project.owner_id
            %a.delete-project
              %span.icn-delete
          = link_to arbor_reloaded_project_copy_path(project), method: :post, class: 'copy-project', data: {} do
            %span.icn-copy
          = link_to '#', class: 'favorite-link favorite', data: { url: arbor_reloaded_project_path(project), favorite: project.favorite } do
            %span.icn-favorite-empty
        .deleter
          %p
            = t('reloaded.project_dashboard.are_you_sure')
            = link_to t('reloaded.project_dashboard.delete_project'), arbor_reloaded_project_path(project), method: :delete, class: 'button radius alert tiny'
          %a.cancel= t('reloaded.project_dashboard.cancel')
          %a.delete-project
            %span.icn-delete
        = link_to arbor_reloaded_project_user_stories_path(project_id: project.id), title: " Go to #{project.name}", class: 'project' do
          .left
            %p.title= project.name
            %p.last-update
              = t('reloaded.project_dashboard.last_update')
              %span= project.updated_at.strftime("%b %d, %Y")
