%ul.project-list
  %span.breaker
    = t('reloaded.project_dashboard.all_projects')
    = projects.count
    )
  - projects.each do |project|
    %li
      = link_to arbor_reloaded_project_canvases_path(project_id: project.id), title: " Go to #{project.name}", class: 'project' do
        .left
          %p.title= project.name
          %p.last-update
            = t('reloaded.project_dashboard.last_update')
            %span= project.updated_at.strftime("%b %d, %Y")
      .right
        %p.favorite
        %a.others &#149&#149&#149
      .actions
        %a.delete-project
          %span.icon-trash
      .deleter
        %p
          Are you sure?
          = link_to project, method: :delete, class: 'cancel-btn' do
            Yes, delete it
        %a.cancel cancel
        %span.icon-trash
