#groups-list-container
  #groups-list
    - groups.each do |group|
      .group-divider{ id: "group-#{group.id}" }
        .title-breaker
          %h5= group.name
          = link_to '', '#', class: 'has-tip toggle-content-btn active', data: { tooltip: '' }, aria: { haspopup: true }, title: t('reloaded.tooltips.hide')
        .reorder-user-stories{ data: { url: arbor_reloaded_project_reorder_backlog_path(project), project: project.id, group_id: group.id  } }
          - group.user_stories.backlog_ordered.each do |user_story|
            = render 'arbor_reloaded/user_stories/user_story', user_story: user_story
            = render 'arbor_reloaded/user_stories/story_detail_modal', user_story: user_story
