#jira-modal.reveal-modal{ aria: { hidden: 'true', labelledby: 'project-modal' }, data: { reveal: ''}, role: 'dialog' }
  = link_to '×', '#', class: 'close-reveal-modal'
  %h2= t('jira.modal_title')
  = form_tag authenticate_arbor_reloaded_project_jira_index_path(current_project), remote: true do
    = text_field_tag 'site', nil, class: 'dashed-input interactive-field', placeholder: t('jira.placeholder_site')
    = email_field_tag 'email', nil, class: 'dashed-input interactive-field', placeholder: t('jira.placeholder_email')
    = password_field_tag 'password', nil, class: 'dashed-input interactive-field', placeholder: t('jira.placeholder_password')
    = submit_tag t('jira.sign_in'), class: 'button radius small'
  .jira-export-error
  .jira-export-success
