- goals.each do |goal|
  .row
    = link_to goal_path(goal), title: 'Delete Goal', method: :delete do
      %span.icon-trash
    .goal-title.goal-item{ data: { goal_id: goal.id } }
      = goal.title
      %span.icon-check
      %span.icon-edit
    .goal-title.goal-item-editable{ data: { goal_id: goal.id } }
      = form_for goal do |form|
        = form.text_field :title
        %span.icon-check
        %span.icon-edit
        = form.submit :save, class: 'hide', id: 'update-goal-btn'
