= form_for [hypothesis, goal] do |form|
  -if goal.errors.any?
    .alert-box.alert.goals_errors
      %ul
        - goals.errors.full_messages.each do |error|
          %li= error
  = t('labs.goals.title')
  = form.text_field(                          |
    :title,                                   |
    placeholder: t('labs.goals.enter_title'), |
    required:    true,                        |
    class:      'title'                       |
  )                                           |
  = form.hidden_field :hypothesis_id, value: hypothesis.id
  = form.submit I18n.translate('save'), class: 'hide'
