- if response.success
  = form_tag arbor_reloaded_project_export_to_board_path(project), remote: true,
    method: :get, id: 'select-board-form' do
    = hidden_field_tag 'token', token
    = select_tag 'board_id', options_for_select(response.data[:boards].collect {|board| [ board.name, board.id ] }), include_blank: 'Select board'
    = submit_tag :submit, class: 'submit-destination-board hidden-element'
- else
  :javascript
    authorizeTrello('existing_board', "#{arbor_reloaded_project_trello_index_path(project)}");
