%nav.top-bar{'data-topbar' => '', :role => 'navigation'}
  %ul.title-area
    = link_to arbor_reloaded_root_path, class: 'logo' do
      = render 'shareable/svg/logo'
    %li.name
      - if current_project && !current_project.new_record?
        - if current_user.id == current_project.owner_id
          =render 'arbor_reloaded/projects/partials/edit_project_name', project: current_project
        - else
          = link_to current_project.name, '#', class: 'current-project'
    / Remove the class "menu-icon" to get rid of menu icon. Take out "Menu" to just have icon alone
    %li.toggle-topbar.menu-icon
      %a{:href => "#"}
        %span= t('reloaded.navigation.menu')
  %section.top-bar-section
    / Right Nav Section
    %ul.right
      %ul
        %li
          = link_to t('reloaded.navigation.projects'), arbor_reloaded_root_path
        %li
          %a{:href => 'mailto:feedback@getarbor.io', :target => '_top'}= t('reloaded.navigation.help')
        %li.hide
          %a{:href => "#"} FAQ
        - if current_project
          %li.hide
            = link_to log_arbor_reloaded_project_path(current_project) do
              %span.icn-notifications
      %ul.profile
        %li.user-dropdown.has-dropdown.not-click
          .avatar{ style: "background-image: url(#{ image_path('test-user.png') });" }
          = link_to '#', id: 'welcome' do
            = t('reloaded.navigation.welcome')
            %span
              = current_user.full_name
              !
          %ul.dropdown
            %li
              = link_to '#' do
                = t('reloaded.navigation.settings')
                %span.icn-settings
            %li
              = link_to destroy_user_session_path, method: :delete do
                = t('backlog.logout')
                %span.icn-signout
- if current_project
  = render 'arbor_reloaded/navigation/secondary_nav', current_project: current_project
