%aside#sidebar.columns.small-2
  %ul.sidebar-project-list.active
    %li.selected
      - if current_project && !current_project.new_record?
        = link_to current_project.name, '#', class: 'current-project active'
      - else
        = link_to t('sidebar.my_projects'), '#', class: 'my-projects'
      = link_to '#' do
        %span.icon-arrow

    - projects.each do |project|
      %li
        = link_to project.name, project_canvases_path(project_id: project.id), title: " Go to #{project.name}", class: 'sidebar-project-item'
        = link_to edit_project_path(project), id: 'icon_edit_project' do
          %span.icon-edit
    %li
      =link_to t('create_project.project_button'), new_project_path, title: t('create_project.project_button'), class: 'button radius small success'
      =link_to new_project_path, title: t('create_project.project_button'), class: 'create-project-icon' do
        %span.icon-plus
  - if current_project && !current_project.new_record?
    .toolbar
      %ul#workspace
        %li
          = t('sidebar.workspace')
        %li
          = link_to project_canvases_path(current_project), title: "#{current_project.name} Canvas", class: 'canvas' do
            = render 'shareable/svg/canvas_icon'
            = t('sidebar.canvas')
            %span.bullet
        %li
          = link_to project_hypotheses_path(current_project), title: "#{current_project.name} Lab", class: 'lab' do
            = render 'shareable/svg/lab_icon'
            = t('sidebar.lab')
            %span.bullet
        %li
          = link_to project_user_stories_path(current_project), title: "#{current_project.name} Backlog", class: 'backlog' do
            = render 'shareable/svg/backlog_icon'
            = t('sidebar.backlog')
            %span.bullet
      %ul#extras
        %li
          = t('sidebar.extras')
        %li
          = link_to '#', title: "#{current_project.name} Files" do
            = render 'shareable/svg/files_icon'
            = t('sidebar.files')
        %li
          = link_to current_project, title: "#{current_project.name} Members" do
            = render 'shareable/svg/members_icon'
            = t('sidebar.members')
        %li
          = link_to log_project_path(current_project), { data: { reveal_id: 'log-modal', reveal_ajax: true } } do
            = render 'shareable/svg/activity_icon'
            = t('sidebar.activity')
  %ul.footer
    %li
      %p
        = t('sidebar.powered_by')
        = image_tag 'icons/arbor-icon.svg',
        title: t('sidebar.logo_title'),
        alt: t('sidebar.powered_by')
      %p.arbor-version
        = t('sidebar.version') + ENV['SIDEBAR_VERSION']
      = link_to '#', title: t('sidebar.collapse'), class: 'collapse' do
        %span.icon-left
#log-modal.reveal-modal{ data: { reveal: '' } }
