.canvas-question-container{ data: { name: question } }
  = form_tag arbor_reloaded_project_canvases_path(project), method: :post, class: 'question-form' do
    %header
      %h5= t("#{question}")
      = link_to '?', '#', class: 'info-trigger has-tip tip-bottom', aria: { haspopup: true }, data: { tooltip: '' }, title: t("#{question}_title")

    .body
      - canvas_question = canvas.public_send(question)
      - if canvas_question.present?
        %p.question= canvas_question
      - else
        %p.question.default= t("#{question}_title")

      = text_area_tag question, canvas_question, class: 'resizable-text-area', placeholder: t("#{question}_title")
      .actions-wrapper
        %button.button.radius.tiny.cancel{ type: 'button' } Cancel
        = submit_tag :save, class: 'button radius tiny success', id: 'save-canvas'
